<h5 style="width: 100%;color: #0c0c0c !important;" class="navbar-text text-info">Панель администратора</h5>
<div style="width: 100%">
    <div class="pull-left half-length">
        <button ng-click="openList()" class="pull-left btn btn-primary btn-block">Справочник брендов</button>
    </div>
    <div class="pull-left half-length">
        <button class="btn btn-primary btn-block">Справочник стран</button>
    </div>
    <div class="pull-left half-length">
        <button class="btn btn-primary btn-block">Справочник струн</button>
    </div>
</div>