<h5 style="width: 100%; font-size:20px" class="navbar-text text-info">Панель администратора</h5>
<div style="width: 100%">
    <div class="pull-left half-length">
        <button style="height: 100px;" ng-click="openList()" class="pull-left btn btn-primary btn-block">Справочник брендов</button>
        <button style="height:100px;" ng-click="openList()" class="pull-left btn btn-primary btn-block">Справочник стран</button>
    </div>
    <div class="pull-left half-length">
        <button style="height: 100px;" class="btn btn-primary btn-block">Справочник струн</button>
        <button style="height: 100px;" class="btn btn-primary btn-block">Справочник пользователей</button>
    </div>
    <div class="pull-left half-length">
        <button style="height: 100px;" class="btn btn-primary btn-block">Справочник категорий</button>
        <button style="height: 100px;" class="btn btn-primary btn-block">Справочник подкатегорий</button>
    </div>
</div>