<!--<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/Slider.js"></script>
<div id="carousel">

    <figure id="spinner">
        <img src="~/Content/image/1.jpg" alt="">
        <img src="~/Content/image/2.jpg" alt="">
        <img src="~/Content/image/3.jpg" alt="">
        <img src="~/Content/image/4.jpg" alt="">
        <img src="~/Content/image/5.jpg" alt="">
        <img src="~/Content/image/6.jpg" alt="">
        <img src="~/Content/image/7.jpg" alt="">
        <img src="~/Content/image/8.jpg" alt="">
    </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>-->
