<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">
    <title>Магазин музыкальных инструментов</title>
    @Scripts.Render("~/bundles/scripts", "~/Angular/main.js")
    @Styles.Render("~/Content/css")

</head>

<body ng-app="Web">
    <div class="container-fluid header">
        <div style="float: left" class="logo"> <img src="~/Content/image/images.png" alt="logo" height="55" width="340" /></div>
        <div style="float: left" class="ui-grid-header"><h1 style="font-style: italic; color:white ">Магазин музыкальных инструментов</h1></div>

    </div>

    <div class="msg-overlay" ng-show="loadingIsShow">
        <div class="msg">
            <span>
                Обработка данных...
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>

    <div class="body-content">
        <div class="jumbotron-fluid bg-info text-white text-center" style="background: #aaa;">
            <div class="container wrapper">
                <p class="display-4" style="padding-top: 50px">Каталог товаров </p>
            </div>
        </div>
    </div>

    <nav id="nav">
        <ul>
            <li>
                <a href="#">Струнные</a>
                <ul class="second">
                    <li><a href="#">Электрогитары</a></li>
                    <li><a href="#">Акустические гитары</a></li>
                    <li><a href="#">Бас-гитары</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Клавишные</a>
                <ul class="second">
                    <li><a href="#">Пианино</a></li>
                    <li><a href="#">Синтезатор</a></li>
                    <li><a href="#">Рояль</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Ударные</a>
                <ul class="second">
                    <li><a href="#">Малые барабаны</a></li>
                    <li><a href="#">Большие барабаны</a></li>
                    <li><a href="#">Тарелки</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Духовые</a>
                <ul class="second">
                    <li><a href="#">Трубы</a></li>
                    <li><a href="#">Тромбон</a> </li>
                    <li><a href="#">Саксофон</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Смычковые</a>
                <ul class="second">
                    <li><a href="#">Скрипка</a></li>
                    <li><a href="#">Виолончель</a> </li>
                    <li><a href="#">Контрабас</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Народные</a>
                <ul class="second">
                    <li><a href="#">Аккордеон</a></li>
                    <li><a href="#">Гармонь</a> </li>
                    <li><a href="#">Баян</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="block">
        <form method="post" action="../" style="width: 200px; height: 60px" class="form-group">
            <span class="auth" style="text-align: center; width: 100%; display: inline-block;">Авторизация</span>
            <input type="text" class="btn-block  form-control" name="login" id="name" placeholder="Логин" />
            <input type="password" class="btn-block  form-control" name="password" id="password" placeholder="Пароль" />
            <input type="submit" class="btn-block  form-control" placeholder="Войти" />
        </form>
    </div>

    @RenderBody()
    <footer>
        <div class="card-footer footer">
            &copy; 2018 |  Проект Ткаченко Дмитрия Александровича.
        </div>

    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
