html, body {
    margin: 0px;
    padding: 0px;
}
.catalog {
   
}
.footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightblue
}
div.body-content {
    background: lightblue
}
.header {
    background: skyblue;
    position: fixed;
    top: 0
}