html, body {
    margin: 0px;
    padding: 0px;
    background-image: url('image/фон-для-сайта-1024x576.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.catalog {
   
}
.footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightblue
}
div.body-content {
    background: lightblue
}
.header {
    background: skyblue;
    position: fixed;
    top: 0
}