<div>
    <div class="modal-header">
        <h3 style="margin-top: -8px;" class="text-center">
            Справочник струн
        </h3>
        <div id="portlet" ui-grid="gridNumberStrings" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ng-style="{'height':height}">
        </div>
        <br />
        <div align="right">
            <button class="btn btn-xs btn-info" type="button" ng-click="addNumberStrings">Добавить</button>
            <button class="btn btn-xs btn-warning" type="button" ng-click="cancel()">Отмена</button>
        </div>
    </div>
</div>